.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card {
    width: 250px;
    height: 250px;
    perspective: 1000px;
}
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}
.card-back {
    background-color:blue;
    border-color: #FF6D00;
}

.card-front {
    background-color: #FFBB89;
    border-color:aqua;
    transform: rotateY(180deg);
}
.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0)
}