@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');


.MixMatch {
    max-width: 860px;
    margin: 40px auto;
    font-family: Raleway, sans-serif;
    text-align: center;
   

  }
  .MixMatch button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    font-family: Raleway, sans-serif;
  }
 .MixMatch button:hover {
    background: #c23866;
    color: black;
  }
  .cardgrid{
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  }
  .flex3 { 
    display: flex; 
    justify-content: space-between; 
     
  } 
  .flex-items { 
    
    text-align: center; 
    
  }