.card{
    position: relative;
}
.card img{
    width: 90%;
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    height: 50%;
}

.card .front{
transform: rotateY(90deg);
transition: all ease-in 0.2s;
position: absolute;
}
.flipped .front h2,.card .front h2{
padding-top: 25%;
text-align: center;
}
.flipped .front
{
    transform: rotateY(0deg);
    transition: all ease-in 0.2s;
    border:2px solid black;
    border-radius: 6px;
    width: 90%;
}
    
.card .back
{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s; 
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}
.front{
    text-align: center;   
    height: 100%;
    width: 100%;
}